.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  gap: 32px;
}

.field {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fieldTitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}
